/* CSS Document */


/*トップイメージ */
#topimage{
	height: 150px;
	width: 800px;
	padding: 0px;
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	background-image: url(top_content_back.jpg);
	background-repeat: repeat-x;
}

.tabFront{
	width: 560px;
	margin: 0px;
	padding: 0px;
}


/*8.コンテンツエリア content
---------------------------------------------------------*/
#content {
	width: 800px;
	height: 100%;
	margin:0;
	padding: 0px;
	overflow: hidden;
	text-align: left;
	float: left;
}

#content:after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

/*\*/
* html #content {
    height: 1em;
    overflow: visible;
}
/**/


/*10.メインエリア mainArea
---------------------------------------------------------*/
#mainArea{
	width:575px;
	height:1%;
	padding:0px;
	margin: 0px;
	float: left;
}


/*パンくずリスト
---------------------------------------------------------*/
#breadcrumb{
	width: 550px;
	height: auto;
	font-size: 10px;
	text-align: left;
	float: left;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#breadcrumb img{
	margin: 0 5px;
}

#breadcrumb a:link,a:visited{

}

#breadcrumb a:hover,a:active{
	color: #FF9999;
	text-decoration: underline;
}



/*12.メイン
---------------------------------------------------------*/
#main{
	width: 560px;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-right: auto;
}
/*テーブルパディング無し
---------------------------------------------------------*/
#none_table{

}

#none_table table{
    margin:0px;
	padding:0px;
}

#none_table td{
	margin:0px;
	padding:0px;
}



/*9.サイドナビ sideNavi
---------------------------------------------------------*/

#sideNavi {
	width: 220px;
	height: 200px;
	padding: 0px;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: right;
	background-image: url(front_background.gif);
}



#sideNavi p {
	margin: 10px 0 0;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: left;
}


/* サイドトップ
--------------------*/
#sideTop{
	width: 200px;
	height: auto;
	margin: 0px 10px;
	padding:0px;
}

ul#sideTop {
}

#sideTop li {
	width: 196px;
	margin: 0;
	padding: 2px 0px;
	list-style-type: none;
}


#sideTop a {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color:#000000;
}

#sideTop a:hover {
	color: #4573B3;
    position:relative ;
	top:2px ;
	left:2px ;
}

#sideTop p{
	margin: 10px 0 0;
	padding: 0px;
}


/* サイドボトム
--------------------*/
#sideBottom {
	width: 200px;
	height: 200px;
	text-align:left;
	font-size:10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 10px;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 100px;
	padding-left: 0px;
}

#sideBottom a {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color:#000000;
}

#sideBottom a:hover {
	color: #4573B3;
	border-left-color: #4573B3;
}

#sideBottom p{
	margin:2px 0px 10px 0px;
	padding:0px;
	font-size:10px;
    line-height:120%;
	color:#000000;
}


/*リクルートアイテム
---------------------------------------------------------*/
#recruitArea{
	width:530px;
	height: 108px;
	margin:0px;
	padding:0px;
	background-image: url(../front/recruiting_items.jpg);
	background-repeat: no-repeat;
}

#recruitArea ul {
	width:550px;
	height: 54px;
	margin: 0px;
	padding: 0px;
}

#recruitArea li{
	display:inline;
	height: 54px;
}

#recruitArea li a {
	display: block;
	height: 54px;
	margin:0;
	padding:0;
	text-indent:-9999px;
	text-decoration:none;
	float:left;
}

/*	オフ	*/
#recruitArea01 a{width:160px;background:url("../front/recruiting_items.jpg") 0 0 no-repeat;}
#recruitArea02 a{width:115px;background:url("../front/recruiting_items.jpg") -160px 0 no-repeat;}
#recruitArea03 a{width:125px;background:url("../front/recruiting_items.jpg") -275px 0 no-repeat;}
#recruitArea04 a{width:135px;background:url("../front/recruiting_items.jpg") -400px 0 no-repeat;}

#recruitArea05 a{width:180px;background:url("../front/recruiting_items.jpg") 0px -54px no-repeat;}
#recruitArea06 a{width:130px;background:url("../front/recruiting_items.jpg") -180px -54px no-repeat;}
#recruitArea07 a{
	width:200px;
	background:url("../front/recruiting_items.jpg") -310px -54px no-repeat;
}



/*	オン	*/
#recruitArea01 a:hover,#recruitArea01 a.on{background-position: 0 0;}
#recruitArea02 a:hover,#recruitArea02 a.on{background-position: -160px 0;}
#recruitArea03 a:hover,#recruitArea03 a.on{background-position: -275px 0;}
#recruitArea04 a:hover,#recruitArea04 a.on{background-position: -400px 0;}

#recruitArea05 a:hover,#recruitArea05 a.on{background-position: -0px -54px;}
#recruitArea06 a:hover,#recruitArea06 a.on{background-position: -180px -54px;}
#recruitArea07 a:hover,#recruitArea07 a.on{background-position: -310px -54px;}


.recruiting{	background-image: url(../front/banner/recruiting.gif);
	background-repeat: no-repeat;
	height: 45px;
	width: 200px;
	text-indent: -9999px;
	display: block;
}

.blog{	background-image: url(../front/banner/blog.jpg);
	background-repeat: no-repeat;
	height: 45px;
	width: 200px;
	text-indent: -9999px;
	display: block;
}

.company{	background-image: url(../front/banner/company.jpg);
	background-repeat: no-repeat;
	height: 45px;
	width: 200px;
	text-indent: -9999px;
	display: block;
}

.tie-up{	background-image: url(../front/banner/tie-up.jpg);
	background-repeat: no-repeat;
	height: 45px;
	width: 200px;
	text-indent: -9999px;
	display: block;
}

.taidan{
	height: 198px;
	width: 200px;
	text-indent: -9999px;
	display: block;
	background: url(../front/banner/interview.jpg) no-repeat;
}


.tel{	background-image: url(../front/banner/tel.jpg);
	background-repeat: no-repeat;
	height: 79px;
	width: 200px;
	text-indent: -9999px;
	display: block;
}

.download{	background-image: url(../front/banner/download.jpg);
	background-repeat: no-repeat;
	height: 52px;
	width: 200px;
	text-indent: -9999px;
	display: block;
}
.seminar{	background-image: url(../front/banner/seminar.jpg);
	background-repeat: no-repeat;
	height: 52px;
	width: 200px;
	text-indent: -9999px;
	display: block;
}
