/* CSS Document */

/*目次
  1.スタイル初期化(変更不可）
　2.基本スタイル(最初に設定してください）
　3.IE以外にフォントサイズを上書き(重要）
  4.コンテナー container（フッターを含む）
  5.ヘッドエリア headArea
  6.グローバルナビ global_nav
  7.ページタイトル
  8.コンテンツエリア content
  9.サイドナビ sideNavi
  10.メインエリア mainArea
  11.パンくずリスト breadcrumb
  12.メイン main
  13.ボトム bottom
  ■各ページカテゴリ設定
  ■プリントアウト設定
---------------------------------------------------------*/


/*1.スタイル初期化
---------------------------------------------------------*/
*{
margin: 0;
padding: 0;
text-decoration: none;
}

/*2.基本スタイルここから
---------------------------------------------------------*/

body{
	margin: 0px;
	padding: 0px;
	color: #000000;
	line-height: 1.4em;
	text-decoration: none;
	font-size:83%;
	background-color: #FFFFFF;
	letter-spacing: 0.05em;
	text-align:center;
	background-image:url(slash.gif);
	background-repeat:repeat-x repeat-y;
}

img{
    border:none;
}

a:link,a:visited{
color:#660A09;
}

a:active,a:hover{
color:#666666;
}


/*3.IE以外にフォントサイズを上書き
-----------------------------------*/
html>body{
	font-size: 83%;
	text-align:center;
}

/*4.コンテナー（フッターを含む）
---------------------------------------------------------*/
#container{
	width:800px;
	height: 100%;
	margin:0px auto;
	padding: 0px;
	text-align: left;
	background-color:#FFFFFF;
	border:solid 1px #999999;
}


/*6.ヘッドエリア
---------------------------------------------------------*/
#headArea{
	width: 800px;
	height: 110px;
	margin: 0px;
	padding: 0px;
}

#headArea a:link,#headArea a:visited{
color:#315628;
}

#headArea a:active,#headArea a:hover{
color:#3A7341;
}

#headArea h1,h1 a{
	width: 800px;
	height: 20px;
	margin:0;
	padding: 0;
	background-image:url(title_line.gif);
	background-position:right;
	background-repeat:no-repeat;
	text-align:right;
	font-size:10px;
	float:left;
}

#headArea h2,h2 a{
	width: 800px;
	height: 60px;
	text-indent:-9999px;
	display: block;
	background-image:url(logo.jpg);
	float:left;
}



/*6.グローバルナビ global_nav
---------------------------------------------------------*/
#globalNavi{
    width:800px;
	height: 30px;
	margin:0px;
	padding:0px;
	background-image: url(globalNavi.gif);
	background-repeat: no-repeat;
	float:right;
}

#globalNavi ul {
	width:800px;
	height: 30px;
}

#globalNavi li{
	display:inline;
	height: 30px;
}

#globalNavi li a {
	display: block;
	height: 30px;
	margin:0;
	padding:0;
	text-indent:-9999px;
	text-decoration:none;
	float:left;
} 

/*	オフ	*/
#menu01 a{width:100px;background:url("globalNavi.gif") 0 0 no-repeat;}
#menu02 a{width:100px;background:url("globalNavi.gif") -100px 0 no-repeat;}
#menu03 a{width:100px;background:url("globalNavi.gif") -200px 0 no-repeat;}
#menu04 a{width:100px;background:url("globalNavi.gif") -300px 0 no-repeat;}
#menu05 a{width:100px;background:url("globalNavi.gif") -400px 0 no-repeat;}
#menu06 a{width:100px;background:url("globalNavi.gif") -500px 0 no-repeat;}
#menu07 a{width:100px;background:url("globalNavi.gif") -600px 0 no-repeat;}
#menu08 a{width:100px;background:url("globalNavi.gif") -700px 0 no-repeat;}


/*	オン	*/
#menu01 a:hover,#menu01 a.on{background-position: 0 -40px;}
#menu02 a:hover,#menu02 a.on{background-position: -100px -40px;}
#menu03 a:hover,#menu03 a.on{background-position: -200px -40px;}
#menu04 a:hover,#menu04 a.on{background-position: -300px -40px;}
#menu05 a:hover,#menu05 a.on{background-position: -400px -40px;}
#menu06 a:hover,#menu06 a.on{background-position: -500px -40px;}
#menu07 a:hover,#menu07 a.on{background-position: -600px -40px;}
#menu08 a:hover,#menu08 a.on{background-position: -700px -40px;}

h3{
	width:760px;
	height:29px;
	margin:20px 0 0 0;
	padding:7px;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	background-image:url(../pic/h3bar.gif);
	background-repeat:no-repeat;
}


/*ニュースエリア
---------------------------------------------------------*/
#newsArea {
	width: 550px;
	margin:10px 0 0 0;
	padding:0 0 10px 0;
	list-style-type: none;
}

#newsArea ul{
	width: 550px;
	height: 10em;
	margin:0;
	padding:0 0 15px 0;
	list-style-type:none;
	line-height: 1.2em;
	overflow: auto;
}

#newsArea li{
	width: 520px;
	margin: 0 5px 0 0;
	padding: 2px 0 0 5px;
	border-bottom: 1px dotted;
	font-size: 12px;
}

#newsArea p{
	padding:5px 0 0 0px;
}


/*リスト 番号リスト
---------------------------------------------------------*/
#main ul {
    padding:2px 0 2px 25px;
	list-style-type: disc;
	list-style-position: outside;
}

#main li {
	margin: 0;
	padding:2px 0 2px 0;
	list-style-position: outside;
}

#main ol { 
	padding:2px 0 2px 35px;
	list-style-type: decimal;
	list-style-position: outside;
}


/*リストと説明
---------------------------------------------------------*/
#main dl{
	margin: 0px;
	width:545px;
}

#main dt{
	width: 540px;
	padding: 5px 5px 0px;
	left: 0px;
	font-weight: bold;
}

#main dd{
	margin: 0px 0px 0px 10px;
	padding: 0px 5px 5px;
	left: 175px;}



/*13.ボトムエリア
---------------------------------------------------------*/
#footer {
	margin: 0px;
	padding: 0px;
	width: 800px;
	border-top: solid 1px #999999;
}
#footer h6 a{
	display: block;
	width: 800px;
	height: 37px;
	margin: 0px;
	padding: 0px;		
	background-image: url(../pic/copyright.gif);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
}

/*6.ボトム
---------------------------------------------------------*/
#bottom{
	width:800px;
	height:auto;
	margin:0 ;
	padding:0;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	text-align:right;
}

#bottom a:link,#bottom a:visited{
color:#315628;
}

#bottom a:active,#bottom a:hover{
color:#CAB13C;
}


/*14.コピーライト
---------------------------------------------------------*/
#copyright {
	clear: both;
	width: 795px;
	margin:0px;
	padding:0 5px 0 0;
	text-align: right;
	font-size: 80%;
	background-color:#0E2E20;
}

#copyright a:link,#copyright a:visited{
color:#FFFFFF;
}

#copyright a:active,#copyright a:hover{
color:#b2b2b2;
}