/* CSS Document */

/*目次
  1.スタイル初期化(変更不可）
　2.基本スタイル(最初に設定してください）
　3.IE以外にフォントサイズを上書き(重要）
  4.コンテナー container（フッターを含む）
  5.ヘッドエリア headArea
  6.グローバルナビ global_nav
  7.ページタイトル
  8.コンテンツエリア content
  9.サイドナビ sideNavi
  10.メインエリア mainArea
  11.パンくずリスト breadcrumb
  12.メイン main
  13.ボトム bottom
  ■各ページカテゴリ設定
  ■プリントアウト設定
---------------------------------------------------------*/

/*1.スタイル初期化
---------------------------------------------------------*/
*{
margin: 0;
padding: 0;
}

/*2.基本スタイルここから
---------------------------------------------------------*/

body{
	margin: 0px;
	padding: 0px;
	color: #000000;
	line-height: 1.4em;
	font-size:83%;
	background-color: #FFFFFF;
	letter-spacing: 0.05em;
	text-align:center;
	background-image:url(slash.gif);
	background-repeat:repeat;
}

img{
    border:none;
}




a {}
a:link{
	COLOR: #6699CC;
	text-decoration: underline;}

a:visited{
	COLOR: #0033CC; TEXT-DECORATION: underline;
}





/*3.IE以外にフォントサイズを上書き
-----------------------------------*/
html>body{
	font-size: 83%;
	text-align:center;
}

/*4.コンテナー（フッターを含む）
---------------------------------------------------------*/
#container{
	width:800px;
	margin:0px auto;
	padding: 0px;
	text-align: left;
	background-color:#FFFFFF;
	border:solid 1px #999999;
}


/*6.ヘッドエリア
---------------------------------------------------------*/
#headArea{
	width: 800px;
	height: 116px;
	margin: 0px;
	padding: 0px;
}



#headArea h1,h1 a{
	width: 688px;
	height: 20px;
	margin:0;
	background-position:left;
	background-repeat:no-repeat;
	text-align:left;
	font-size:10px;
	float:left;
	padding-left: 5px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0068B7;
}

.sitemapIcon{
	background-image: url(blut_top.gif);
	width: 107px;
	height: 20px;
	float: right;
	font-size:10px;
	text-indent: -9999px;
	display: block;
	background-position: -687px;
}


#headtop{
	height: 20px;
	background-color: #0068B7;
	display: block;
	clear: both;
}

/*ロゴエリア
---------------------------------------------------------*/
#logoArea{
	width:800px;
	height: 64px;
	margin:0px;
	padding:0px;
	background-image: url(top.jpg);
	background-repeat: no-repeat;
	float:right;
	clear: right;
}

#logoArea ul {
	width:800px;
	height: 64px;
}

#logoArea li{
	display:inline;
	height: 64px;
}

#logoArea li a {
	display: block;
	height: 64px;
	margin:0;
	padding:0;
	text-indent:-9999px;
	text-decoration:none;
	float:left;
} 

/*	オフ	*/
#logoArea01 a{width:350px;background:url("top.jpg") 0 0 no-repeat;}
#logoArea02 a{width:190px;background:url("top.jpg") -350px 0 no-repeat;}
#logoArea03 a{width:125px;background:url("top.jpg") -540px 0 no-repeat;}
#logoArea04 a{width:135px;background:url("top.jpg") -665px 0 no-repeat;}




/*	オン	*/
#logoArea01 a:hover,#logoArea01 a.on{background-position: 0 0;}
#logoArea02 a:hover,#logoArea02 a.on{background-position: -350px 0;}
#logoArea03 a:hover,#logoArea03 a.on{background-position: -540px 0;}
#logoArea04 a:hover,#logoArea04 a.on{background-position: -665px 0;}


/*6.グローバルナビ global_nav
---------------------------------------------------------*/
#globalNavi{
	width:800px;
	height: 29px;
	margin:0px;
	padding:0px;
	background-image: url(globalNavi.jpg);
	background-repeat: no-repeat;
	float:right;
	clear: both;
}

#globalNavi ul {
	width:800px;
	height: 29px;
}

#globalNavi li{
	display:inline;
	height: 29px;
}

#globalNavi li a {
	display: block;
	height: 29px;
	margin:0;
	padding:0;
	text-indent:-9999px;
	text-decoration:none;
	float:left;
} 

/*	オフ	*/
#menu01 a{width:166px;background:url("globalNavi.jpg") 0 0 no-repeat;}
#menu02 a{width:162px;background:url("globalNavi.jpg") -166px 0 no-repeat;}
#menu03 a{width:162px;background:url("globalNavi.jpg") -328px 0 no-repeat;}
#menu04 a{width:103px;background:url("globalNavi.jpg") -490px 0 no-repeat;}
#menu05 a{width:103px;background:url("globalNavi.jpg") -593px 0 no-repeat;}
#menu06 a{width:100px;background:url("globalNavi.jpg") -696px 0 no-repeat;}



/*	オン	*/
#menu01 a:hover,#menu01 a.on{background-position: 0 -29px;}
#menu02 a:hover,#menu02 a.on{background-position: -166px -29px;}
#menu03 a:hover,#menu03 a.on{background-position: -328px -29px;}
#menu04 a:hover,#menu04 a.on{background-position: -490px -29px;}
#menu05 a:hover,#menu05 a.on{background-position: -593px -29px;}
#menu06 a:hover,#menu06 a.on{background-position: -696px -29px;}


/*トップイメージ */
#topimage{
	display: table;
	height: 215px;
	width: 800px;
	margin: 0px;
	padding: 0px;
}


/*ニュースエリア
---------------------------------------------------------*/
#newsArea {
	width: 550px;
	margin:10px 0 0 0;
	padding:0 0 10px 0;
	list-style-type: none;
}

#newsArea ul{
	width: 550px;
	height: 10em;
	margin:0;
	padding:0 0 15px 0;
	list-style-type:none;
	line-height: 1.2em;
	overflow: auto;
}

#newsArea li{
	width: 520px;
	margin: 0 5px 0 0;
	padding: 2px 0 0 5px;
	border-bottom: 1px dotted;
	font-size: 12px;
}

#newsArea p{
	padding:5px 0 0 0px;
}


/*リスト 番号リスト
---------------------------------------------------------*/
#main ul {
	padding:2px 0 2px 20px;
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 10px;
}


#main ol {
	padding:2px 0 2px 35px;
	list-style-type: decimal;
	margin: 0px 0px 0px 20px;
}

#main li {
	margin: 0;
	padding:2px 0 2px 0;
}


/*リストと説明
---------------------------------------------------------*/
#main dl{
	margin: 0px;
	width:545px;
}

#main dt{
	width: 540px;
	padding: 5px 5px 0px;
	left: 0px;
	font-weight: bold;
}

#main dd{
	margin: 0px 0px 0px 10px;
	padding: 0px 5px 5px;
	left: 175px;}



/*13.ボトムエリア
---------------------------------------------------------*/
#footer {
	margin: 0px auto;
	padding: 0px;
	width: 800px;
	border-top: solid 1px #999999;
}
#footer h6 a{
	display: block;
	width: 800px;
	height: 37px;
	margin: 0px;
	padding: 0px;		
	background-image: url(../pic/copyright.gif);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
}

/*ページトップ
---------------------------------------------------------*/
.pagetop {
	width: 50px;
	margin-bottom: 5px;
	margin-top: 20px;
	background-image:url(../pic/top_on.gif);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: block;
	background-position: right;
	margin-right: 10px;
	margin-left: 740px;
	clear: both;
}

/*6.ボトム
---------------------------------------------------------*/
#bottom{
	width:800px;
	height:auto;
	margin:0;
	padding:0;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	text-align:right;
	font-size: 80%;
}

#bottom a:link,#bottom a:visited{
color:#315628;
}

#bottom a:active,#bottom a:hover{
color:#CAB13C;
}

#catch{
	font-size: 70%;
}

/*14.コピーライト
---------------------------------------------------------*/
#copyright {
	clear: both;
	width: 795px;
	margin:0px;
	padding:0 5px 0 0;
	text-align: right;
	font-size: 75%;
	background-color:#0068B7;
}

#copyright a:link,#copyright a:visited{
color:#FFFFFF;
}

#copyright a:active,#copyright a:hover{
color:#b2b2b2;
}

.name{
	text-align: right;
	width: 530px;
}


