/* CSS Document */


/*1.スタイル初期化
---------------------------------------------------------*/
*{
margin: 0;
padding: 0;
text-decoration: none;
}


/*トップイメージ */
#topimage{
	background-image: url(top_main.jpg);
	display: table;
	height: 150px;
	width: 800px;
	margin: 0px;
	padding: 0px;
}

#recruiting{
	background-image: url(../recruiting/recruiting.jpg);
	display: table;
	height: 150px;
	width: 800px;
	margin: 0px;
	padding: 0px;
}


/*8.コンテンツエリア content
---------------------------------------------------------*/
#content {
	width: 800px;
	height: 100%;
	margin:0;
	padding: 0px;
	overflow: hidden;
	background-repeat:repeat-y;
	text-align: left;
}

#content:after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

/*\*/
* html #content {
    height: 1em;
    overflow: visible;
}
/**/


/*10.メインエリア mainArea
---------------------------------------------------------*/
#mainArea{
	width:750px;
	height:auto;
	padding:0px;
	float: none;
	margin: 120px 25px 0px;
}


/*パンくずリスト
---------------------------------------------------------*/
#breadcrumb{
	width: 550px;
	height: auto;
	margin:0px 15px;
	padding:10px 0px 0px;
	color: #666666;
	font-size: 10px;
	text-align: left;
}

#breadcrumb img{
	margin: 0 5px;
}

#breadcrumb a:link,a:visited{
	color: #666666;
}

#breadcrumb a:hover,a:active{
	color: #FF9999;
	text-decoration: underline;
}



/*12.メイン
---------------------------------------------------------*/
#main{
	width: 100%;
	height: auto;
	margin:0px auto 0px 0px;
	padding:10px 0px 0px;
	text-align: left;
}



#main table{
	margin:0px 0px 20px;
	padding:0px;
	width: 550px;
}

#main td{
	margin:0px;
	padding:1px 0px 1px 3px;
	text-align: center;
}



	
/*dl dt dd タグで擬似テーブル
---------------------------------------------------------*/

#main dl{
	width:545px;
	margin: 0px;
}

#main dt{
	width: 540px;
	margin:0px
	padding: 5px 5px 0px;
	left: 0px;
	font-weight: bold;
}

#main dd{
	margin: 0px 0px 0px 10px;
	padding: 0px 5px 5px;
	left: 175px;
	}

#main h2{
	margin: 0px 0;
	color: #000000;
	font-size: 12px;
	font-weight: bolder;
	background-image: url(h2wide.gif);
	background-repeat: no-repeat;
	height: 25px;
	width: 749px;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 5px;
	text-decoration: none;
	padding-left: 20px;
}

#main h3{
	margin: 10px 0 0;
	border-bottom:1px dotted #0033CC;
	color: #0033CC;
	font-size: 12px;
	font-weight: bold;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #0033CC;
	padding-left: 10px;
}


#main h4{
	margin: 10px 0 0 0;
	border-bottom:solid 1px #0033CC;
	color: #0033CC;
}
/*テーブルパディング無し
---------------------------------------------------------*/
#none_table{

}

#none_table table{
    margin:0px;
	padding:0px;
}

#none_table td{
	margin:0px;
	padding:0px;
}



/*9.サイドナビ sideNavi
---------------------------------------------------------*/
#sideNavi {
	width: 220px;
	height: auto;
	margin: 0px auto;
	padding: 0px;
	float:left;
}



#sideNavi p {
	margin: 10px 0px 0px 0px;
	padding-right: 0px 0px 5px 0px;
}


/* サイドトップ 
--------------------*/
#sideTop{
	width: 200px;
	height: auto;
	margin: 0px 10px;
	padding:0px;
}

ul#sideTop {
}

#sideTop li {
	width: 196px;
	margin: 0;
	padding: 2px 0px 2px 12px;
	list-style-type: none;
}

#sideTop li a {
	margin: 0 auto;
	padding: 0 0 0 8px;
	border-left:solid 4px #B1F7FA;
	text-decoration: none;
	color: #333333;
}

#sideTop a:hover {
	color: #0099FF;
	border-left-color: #3188BD;
}

#sideTop p{
	margin: 10px 0 0 0;
}

#sideTop li.arrow, #sideTop li a.arrow {
	padding: 0 0 0 12px;
	color: #333333;
	background-image: url(../pic/arrow.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-position: outside;
	font-weight: normal;
	font-size: 12px;
	width: 175px;
	margin-left: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}




/* サイドボトム 
--------------------*/
#sideBottom {
	width: 200px;
	height: 200px;
	margin: 0px 10px;
	padding: 30px 0px 100px;
	text-align:left;
	font-size:10px;
}

#sideBottom a {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color:#000000;
}

#sideBottom a:hover {
	color: #4573B3;
	border-left-color: #4573B3;
}

#sideBottom p{
	margin:2px 0px 10px 0px;
	padding:0px;
	font-size:10px;
    line-height:120%;
	color:#000000;
}

/*サイトマップ
---------------------------------------------------------*/
.sitemap{
	width:750px;
	clear: both;
	margin-bottom: 20px;
}

.sitemap ul{
}

.sitemap li{
	display: block;
	margin:0;
	padding:0 0 0 10;
	text-decoration:none;
	float:left;
	width: 240px;
}




.sitemaptitle {
	background-color: #DFE2FF;
	display: block;
	width: 750px;
	list-style-type: none;
	height: 20px;
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	padding-left: 10px;
	clear: both;
}
