@charset "utf-8";
/* CSS Document */

/*コンテンツ
  1.会社案内
  2.リスト list
	└基本リスト


---------------------------------------------------------*/
/*1.会社案内
---------------------------------------------------------*/
.table-company
{
	width: 540px;
	margin-bottom: 15px;
	font-size: 100%;
	float: left;
}

.table-company td.line
{
	height: 11px;
	line-height: 0;
	background-color: #FFFFFF;
	background-image: url(../pic/bg_line-dot.gif);
	background-repeat: repeat-x;
	background-position: left center;
}

.table-company tr th
{
	width: 126px;
	padding: 3px 0;
	background-color: #E5E5E5;
	text-align: center;
	font-weight: normal;
	vertical-align: middle;
}

.table-company tr td
{
	padding-left: 12px; 
	vertical-align: middle;
}

.table-company tr td img
{
	margin-left: 10px; 
	vertical-align: middle;
}

/*---------- table-1 dl ----------*/
.table-company dl dt
{
	width: 60px;
	text-align: right;
}

.table-company dl dd
{
	padding: 0;
	margin-top: -1.4em;
	margin-left: 70px;
}



/*-------------------------------------------------------*/
/*2.リスト list
---------------------------------------------------------*/

/* 基本リスト 2007-08-08 */
.lists{
	list-style-position: outside;
	margin-left: 0px;
	clear: both;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.7em;
	font-size: 1em;
	width: 100%;
	}
	.lists ul{
		list-style-image: url(../pic/dot.gif);
		padding-left: 30px;}


/* リストスモールドット 2007-08-08 */
.listSmalldot{
	list-style-position: outside;
	margin-left: 0px;
	clear: both;
	float: none;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.7em;
	font-size: 1em;
	width: 100%;
	}
	.listSmalldot ul{
		list-style-image: url(../pic/dotsmall.gif);
		padding-left: 30px;}

/
