@charset "Shift_JIS";


table#formArea {
	border:1px solid  #cccccc;
	border-collapse:collapse;
	width: 550px;
}

table#formArea th {
	font-size:12px;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	background-color:#EFEFEF;
	padding: 0px 2px 0px 4px;
	border:1px solid  #cccccc;
	height: 40px;
}

table#formArea td {
	font-size:12px;
	text-align:left;
	vertical-align:middle;
	padding-left: 10px;
	border:1px solid  #cccccc;
	height: 30px;
}

input, select, textarea {
  margin: 6px 0px;
}

/*フォームの長さ
---------------------------------------------------- */

.short {
  width: 50px;
}

.medium {
  width: 100px;
}

.long {
  width: 250px;
}

textarea {
	width: 300px;
}
/*フォームの装飾
---------------------------------------------------- */
input, select, textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #aaaa94 #dfdfd6 #dfdfd6 #aaaa94;
  vertical-align: middle;
  color: #696969;
  background: #f1f1ed;
}

input.req1, select.req1 {
  border-style: solid;
  border-width: 2px;
  border-color: #9999FF;
  vertical-align: middle;
  color: #696969;
  background: #f6f6f2;
}

input:focus, select:focus, textarea:focus {
  background: #ffffff;
}


table#formArea table.ageTable {
	width: 190px;
	margin-bottom: 5px;
	padding:0;
	border:1px solid #CCCCCC;
}
table#formArea table.ageTable th{
	padding: 0px 0px 0px 2px;
	text-align:left;
	vertical-align:top;
	border:1px solid #CCCCCC;
	height: 30px;
}

table#formArea table.ageTable td{
	padding: 0px 5px;
	vertical-align:middle;
	border:1px solid #CCCCCC;
	text-align:left;
	height: 30px;
}

.required{
	font-size: 10px;
	color: #CC0000;
}

/*以下今回は使用しない*/

/* フォーム
---------------------------------------------------- */
/*

fieldset {
  margin: 0;
  padding: 0.5em 0 1.3em 0;
  border-width: 1px;
  border-color: #726d6b;
  border-style: none none dotted none;
}
fieldset#last {
  border-bottom: none;
}
.label {
	clear: left;
	display: block;
	padding-top: 0.8em;
	padding-left: 10px;
	float: left;
	width: 120px;
	line-height: 2em;
	font-size: 83%;
}
.control {
	display: block;
	margin: 0 0 0 130px;
	padding-top: 0.8em;
	line-height: 2em;
	font-size: 75%;
}
input, select, textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #aaaa94 #dfdfd6 #dfdfd6 #aaaa94;
  vertical-align: middle;
  color: #696969;
  background: #f1f1ed;
}
input.radio {
  border-style: none;
  color: #000000;
  background: transparent;
}

.label-m {
	clear: left;
	display: none;
	padding-top: 0.8em;
	padding-left: 12px;
	float: left;
	width: 120px;
	line-height: 2em;
	background: url(../images/mark.gif) no-repeat 0px 1.5em;
	font-size: 83%;
}
input.req1, select.req1 {
  border-style: solid;
  border-width: 2px;
  border-color: #9999FF;
  vertical-align: middle;
  color: #696969;
  background: #f6f6f2;
}
input.req2 {
  border-style: dashed;
  border-width: 2px;
  border-color: #9999FF;
  vertical-align: middle;
  color: #696969;
  background: #f6f6f2;
}

#kiyakutext {
  width: 350px;
  height:150px;
  overflow:auto;
  display: block;
  margin: 15px 0 0 0;
  padding: 5px;
  font-size: 10px;
  line-height: 1.5em;
  background: #f6f6fc;
}
html>body #kiyakutext {
  padding: 15px;
}

input:focus, select:focus, textarea:focus {
  background: #ffffff;
}
*/
/* 入力部品の幅設定
---------------------------------------------------- */
/*
#mail1, #mail2, #city, #number, #bldg, #comment {
  width: 290px;
}
#pass1, #pass2 {
  width: 180px;
}
#name1, #name2, #name3, #name4, #year, #month, #day {
  width: 70px;
}
#post1, #post2 {
  width: 60px;
}
#state {
  width: 120px;
}
#tel1, #tel2, #tel3, #fax1, #fax2, #fax3 {
  width: 60px;
}
*/
/* 送信ボタン
---------------------------------------------------- */
/*
#submit input {
  margin-left: 0.5em;
  border-width: 2px;
  border-color: #ffb87c #d26000 #d26000 #ffb87c;
  width: 6em;
  vertical-align: middle;
  color: #ffffff;
  background: #ff7400;
}
#submit {
  margin-top: 1em;
  color: #444444;
  background: url(../form/images/bg-submit1.gif) no-repeat;
}
#submit p.postext {
  margin: 0;
  padding: 10px;
  text-align: right;
  background: url(../form/images/bg-submit2.gif) no-repeat left bottom;
}
#submit button {
  width: 140px;
  height: 50px;
  padding: 4px 0 0 0;
  color: #ffffff;
  background: url(../form/images/button.gif) no-repeat;
  border-width: 0px;
}
#submit p.posted {
  font-size: 12px;
  font-weight: bold;
  margin: 6px 0 0;
}
#submit span {
  font-size: 10px;
}

*/
