/* CSS Document */

#content {
	background-image:url(background.jpg);
	background-repeat: no-repeat;
}

.side_navi_title{
	background-image: url(side_navi_title.gif);
	text-indent: -9999px;
	display: block;
	height: 35px;
	width: 199px;
}