/* CSS Document */

#content {
	background-image:url(title_bg.jpg);
	background-repeat: no-repeat;
}


.side_menu{
	background-image: url(side_menu.gif);
	text-indent: -9999px;
	display: block;
	height: 35px;
	width: 199px;
}

#main .span{
	list-style-type: square;
}

#companyTable{
	width: 520px;
	margin-top: 20px;
}

#companyTable table{
	width: 549px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-right-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}

#companyTable th{
	width: 150px;
	color: #666666;
	border-top: 1px solid #CCCCCC;
	border-right: none;
	border-bottom: none;
	border-left: none;
	text-indent: 10px;
	text-align: left;
	background-color: #E7E7E7;
	font-weight: normal;
	list-style-type: square;
	list-style-position: inside;
	vertical-align: top;
}

#companyTable td{
	color: #666666;
	text-align: left;
	border-top: 1px solid #CCCCCC;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-left: 8px;
	padding-right: 8px;
}

#companyTable ul{
	width: 350px;
}
#companyTable dl{
	width: 350px;
}
#companyTable dt{
	width: 350px;
}
#companyTable dd{
	width: 350px;
}

#main .photo{
	border: 1px solid #999999;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-top: 1px solid #D8D8D8;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	padding: 5px;
	float: left;
	clear: both;
}
