/* CSS Document */

#content {
	background-image:url(title_bg.jpg);
	background-repeat: no-repeat;
}

.side_navi_title{
	background-image: url(side_menu.gif);
	text-indent: -9999px;
	display: block;
	height: 35px;
	width: 199px;
}