@charset "utf-8";
/*
Theme Name: WordPress Default
Theme URI: http://wordpress.org/
Description: 有名な <a href="http://binarybonsai.com/kubrick/">Kubrick</a> をもとにした WordPress のデフォルトテーマ
Version: 1.6
Author: Michael Heilemann
Author URI: http://binarybonsai.com/
Tags: blue, custom header, fixed width, two columns, widgets

	Kubrick v1.5
	 http://binarybonsai.com/kubrick/

	This theme was designed and built by Michael Heilemann,
	whose blog you will find at http://binarybonsai.com/

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

*/

/*--------------------------------------------------------*/
/*グローバルナビ global_nav
---------------------------------------------------------*/
#logoArea{
	width:800px;
	height: 119px;
	margin:0px;
	padding:0px;
	float:left;
}

#logo, #logo a{
	background-image: url(../../../../../function/logo.jpg);
	height: 119px;
	width: 228px;
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	display: block;
	text-indent: -9999px;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

#globalNavi{
	width:572px;
	height: 119px;
	padding:0px;
	background-color: #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 228px;
}

#globalNavi ul {
	width:572px;
	height: 119px;
	margin: 0px;
	padding: 0px;
}

#globalNavi li{
	display:inline !important;
	height: 59px !important;
}

#globalNavi li a {
	display: block !important;
	height: 59px !important;
	margin:0 !important;
	padding:0 !important;
	text-indent:-9999px !important;
	text-decoration:none !important;
	float: left !important;
} 

/*	オフ	*/
#menu01 a{width:180px;background:url("../../../../../function/globalNavi.jpg") 0 0 no-repeat;}
#menu02 a{width:170px;background:url("../../../../../function/globalNavi.jpg") -180px 0 no-repeat;}
#menu03 a{width:222px;background:url("../../../../../function/globalNavi.jpg") -350px 0 no-repeat;}
#menu04 a{width:180px;background:url("../../../../../function/globalNavi.jpg") 0px   -60px no-repeat;}
#menu05 a{width:170px;background:url("../../../../../function/globalNavi.jpg") -180px -60px no-repeat;}
#menu06 a{width:222px;background:url("../../../../../function/globalNavi.jpg") -350px -60px no-repeat;}


/*	オン	*/
#menu01 a:hover,#menu01 a.on{background-position: 0 -120px;}
#menu02 a:hover,#menu02 a.on{background-position: -180px -120px;}
#menu03 a:hover,#menu03 a.on{background-position: -350px -120px;}
#menu04 a:hover,#menu04 a.on{background-position: 00px -180px;}
#menu05 a:hover,#menu05 a.on{background-position: -180px -180px;}
#menu06 a:hover,#menu06 a.on{background-position: -350px -180px;}

/* Begin Typography & Colors */
body {
	font-size: 75%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align:center;
	}

html>body{
	font-size: 83%;
	text-align:center;
}

#page {
	text-align: left;
	}


#headerimg {
	height: 32px;
	margin: 0px;
	padding: 0px;
}


#headerimg h1,#headerimg h1 a{
	height: 15px;
	padding-top: 1px;
	display: block;
	font-size: 10px;
	color: #FFFFFF;
	background-image: url(../../../../../function/headtop.jpg);
}

#content {
	font-size: 1.2em
	}

.widecolumn .entry p {
	font-size: 1.05em;
	}

.narrowcolumn .entry, .widecolumn .entry {
	line-height: 1.6em;
	}

.widecolumn {
	line-height: 1.4em;
	}

.narrowcolumn .postmetadata {
	text-align: center;
	}

.alt {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	}

#footer {
	border: none;
	}

small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
	}

h1, h2, h3 {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: bold;
	}

h1 {
	font-size: 12px;
	text-align: center;
	}

#headerimg .description {
	height: 16px;
	display: block;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	background-image: url(../../../../../function/headtop.jpg);
	}

h2 {
	font-size: 1.6em;
	}

h2.pagetitle {
	font-size: 1.6em;
	}

#sidebar h2 {
	font-family: 'Lucida Grande', Verdana, Sans-Serif;
	font-size: 1.2em;
	}

h3 {
	font-size: 1.3em;
	}

h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
	text-decoration: none;
	color: white;
	}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	color: #006699;
	text-decoration: none;
	}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
	text-decoration: none;
	}

.entry p a:visited {
	color: #b85b5a;
	}

.commentlist li, #commentform input, #commentform textarea {
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

.commentlist li {
	font-weight: bold;
	}

.commentlist li .avatar { 
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

#commentform p {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

.commentmetadata {
	font-weight: normal;
	}

#sidebar {
	font: 1em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #777;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}

a, h2 a:hover, h3 a:hover {
	COLOR: #6699CC;
	text-decoration: none;
	}

a:hover {
	color: #FF00CC;
	text-decoration: none;
	}

#wp-calendar #prev a, #wp-calendar #next a {
	font-size: 9pt;
	}

#wp-calendar a {
	text-decoration: none;
	}

#wp-calendar caption {
	font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: center;
	}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	}
/* End Typography & Colors */



/* Begin Structure */
body {
	margin: 0px;
	padding: 0px;
	color: #525252;
	line-height: 1.5;
	letter-spacing: 0.05em;
	background-image:url(../../../../../function/backgroundblog.jpg);
	background-repeat:repeat-x;
	}

#page {
	width:800px;
	padding: 0px;
	text-align: left;
	background-color:#FFFFFF;
	border:1px none #999999;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: auto;
}

#header {
	width: 800px;
	margin: 0px;
	height: 151px;
	padding: 0px;
	}

#headerimg {
	margin: 0;
	height: 32px;
	width: 800px;
	}

.narrowcolumn {
	float: left;
	padding: 0 0 20px 15px;
	margin: 0px 0 0;
	width: 550px;
	}

.widecolumn {
	padding: 10px 0 20px 0;
	margin: 5px 0 0 150px;
	width: 450px;
	}

.post {
	margin: 40 0 0px;
/*	text-align: justify; */
	}

.post hr {
	display: block;
	}

.widecolumn .post {
	margin: 0;
	}

.narrowcolumn .postmetadata {
	padding-top: 5px;
	font-size: 12px;
	}

.widecolumn .postmetadata {
	margin: 30px 0;
	}

.widecolumn .smallattachment {
	text-align: center;
	float: left;
	width: 128px;
	margin: 5px 5px 5px 0px;
}

.widecolumn .attachment {
	text-align: center;
	margin: 5px 0px;
}

.postmetadata {
	clear: both;
}

.clear {
	clear: both;
}

#footer {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 50px;
	clear: both;
	text-align: center;
	}

#bottom{
	width:800px;
	height:15px;
	border-top-color: #999999;
	text-align:right;
	font-size: 80%;
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}

#bottom a:link,#bottom a:visited{
	color:#315628;
	margin-bottom: 20px;
}

#bottom a:active,#bottom a:hover{
color:#CAB13C;
}

#copyright {
	width: 100%;
	text-align: center;
	font-size: 75%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 0;
	height: 15px;
	float: left;
	background-color: #6f2b30;
}

#copyright a:link,#copyright a:visited{
color:#FFFFFF;
}

#copyright a:active,#copyright a:hover{
color:#b2b2b2;
}

#catch{
	font-size: 70%;
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
}

.pagetop {
	width: 50px;
	margin-bottom: 5px;
	margin-top: 20px;
	background-image:url(../../../../../pic/top_on.gif);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: block;
	background-position: right;
	margin-right: 10px;
	margin-left: 740px;
	clear: both;
}

/* End Structure */



/*	Begin Headers */
h1 {
	margin: 0;
	}

h2 {
	margin: 30px 0 0;
	}

h2.pagetitle {
	margin-top: 30px;
	text-align: center;
}

#sidebar h2 {
	margin: 5px 0 0;
	padding: 0;
	}

h3 {
	padding: 0;
	margin: 30px 0 0;
	}

h3.comments {
	padding: 0;
	margin: 40px auto 20px ;
	}
/* End Headers */



/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left
	}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	}

html>body .entry li {
	margin: 7px 0 8px 10px;
	}

.entry ul li:before, #sidebar ul ul li:before {
	content: "\00BB \0020";
	}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

#sidebar ul, #sidebar ul ol {
	margin: 0;
	padding: 0;
	}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;
	}

#sidebar ul p, #sidebar ul select {
	margin: 5px 0 8px;
	}

#sidebar ul ul, #sidebar ul ol {
	margin: 5px 0 0 10px;
	}

#sidebar ul ul ul, #sidebar ul ol {
	margin: 0 0 0 10px;
	}

ol li, #sidebar ul ol li {
	list-style: decimal outside;
	}

#sidebar ul ul li, #sidebar ul ol li {
	margin: 3px 0 0;
	padding: 0;
	}
/* End Entry Lists */



/* Begin Form Elements */
#searchform {
	margin: 10px auto;
	padding: 5px 3px;
	text-align: center;
	}

#sidebar #searchform #s {
	width: 108px;
	padding: 2px;
	}

#sidebar #searchsubmit {
	padding: 1px;
	}

.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
	}

select {
	width: 130px;
	}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform textarea {
	width: 100%;
	padding: 2px;
	}

#commentform #submit {
	margin: 0;
	float: right;
	}
/* End Form Elements */



/* Begin Comments*/
.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
/*	text-align: justify; */
	}

.commentlist li {
	margin: 15px 0 3px;
	padding: 5px 10px 3px;
	list-style: none;
	}

.commentlist p {
	margin: 10px 5px 10px 0;
	}

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
/* End Comments */



/* Begin Sidebar */
#sidebar
{
	padding: 20px 0 10px 0;
	margin-left: 572px;
	width: 190px;
	}

#sidebar form {
	margin: 0;
	}
/* End Sidebar */



/* Begin Calendar */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
	}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar a {
	display: block;
	}

#wp-calendar caption {
	text-align: center;
	width: 100%;
	}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
	}

#wp-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; }
/* End Calendar */



/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

.hidden {
	display: none;
	}

hr {
	display: none;
	}

a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 60px;
	}
/* End Various Tags & Classes*/



/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions */


/* "Daisy, Daisy, give me your answer do. I'm half crazy all for the love of you.
	It won't be a stylish marriage, I can't afford a carriage.
	But you'll look sweet upon the seat of a bicycle built for two." */
